<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <h2>Graphique des commits (par minute)</h2>
    <div id="chart_div"></div>

    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        fetch('/commits_data/')
          .then(response => response.json())
          .then(data => {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Date');
            dataTable.addColumn('number', 'Minute');

            data.results.forEach(entry => {
              dataTable.addRow([
                entry.date,
                entry.minute
              ]);
            });

            var options = {
              title: 'Minutes des commits',
              legend: { position: 'bottom' }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
          });
      }
    </script>
  </body>
</html>

